.ShortUser {
    cursor: pointer;
    user-select: none;
    width: 98%;
    height: 100px;
    min-height: 100px;
    transition: background-color .2s ease, transform .2s ease;
}
.ShortUser.notClickable {
    cursor: auto;
}
.ShortUser:hover {
    background-color: var(--main-hover);
}

.ShortUser:active {
    transform: scale(0.98);
    background-color: var(--main-hover);
}

.ShortUser:hover.notClickable {
    background-color: transparent;
}
.ShortUser:active.notClickable {
    transform: scale(1);
}

.skeleton {
    background-color: var(--select-background);
    border-radius: 0.5rem;
    animation: pulse 1.5s infinite ease-in-out;
}

.avatarSkeleton {
    width: 100%;
    height: 100%;
    background-color: var(--select-background);
    animation: pulse 1.5s infinite ease-in-out;
}

.select {
    border-color: var(--button-background);
}

.selected {
    background-color: var(--button-background);
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@media (hover: none) {
    .ShortUser:hover {
        background-color: transparent;
    }
    
    .ShortUser:active {
        background-color: var(--main-hover);
    }

    .ShortUser:hover.notClickable {
        background-color: transparent;
    }
    .ShortUser:active.notClickable {
        transform: scale(1);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .ShortUser {
        height: 80px;
        min-height: 80px;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {
    .ShortUser {
        height: 150px;
        min-height: 150px;
    }
}

@media (min-width: 2561px) and (max-width: 3840px) {
    .ShortUser {
        height: 200px;
        min-height: 200px;
    }
}