.SelectContainer {
    position: relative;
    min-width: 100px;
}

.selectHeader {
    cursor: pointer;
    background-color: var(--select-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .2s ease, transform .2s ease;

    height: 60px;
    padding: 20px;
    user-select: none;
}
.selectHeader:hover {
    background-color: var(--select-hover);
}
.selectHeader:active {
    background-color: var(--select-hover);
    transform: scale(0.98);
}

.optionsList {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    list-style: none;
    background-color: var(--select-background);
    overflow: hidden;

    z-index: 100;
}

.optionItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s ease, transform .2s ease;

    height: 60px;
    padding: 20px;
    user-select: none;
}
.optionItem:hover {
    background-color: var(--select-hover);
}
.optionItem:active {
    background-color: var(--select-hover);
    transform: scale(0.98);
}

@media (min-width: 1921px) and (max-width: 2560px) {
    .selectHeader {
        height: 80px;
        padding: 30px;
    }
    .optionsList {
        top: 100px;
    }
    .optionItem {
        height: 80px;
        padding: 30px;
    }
}
@media (min-width: 2561px) and (max-width: 3840px) {
    .selectHeader {
        height: 100px;
        padding: 40px;
    }
    .optionsList {
        top: 130px;
    }
    .optionItem {
        height: 100px;
        padding: 40px;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .selectHeader {
        height: 50px;
        padding: 20px;
    }
    .optionsList {
        top: 60px;
    }
    .optionItem {
        height: 50px;
        padding: 20px;
    }
}

@media (hover: none) {
    .selectHeader:hover {
        background-color: var(--select-background);
    }
    .selectHeader:active {
        background-color: var(--select-hover);
    }
    .optionItem:hover {
        background-color: var(--select-background);
    }
    .optionItem:active {
        background-color: var(--select-hover);
    }
}