POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres-password

REDIS_PASSWORD=redis-password

VAULT_TOKEN=vault-token

ACCESS_TOKEN_SECRET=access-secret-key
REFRESH_TOKEN_SECRET=refresh-secret-key

KAFKA_USER=kafka-user
KAFKA_PASSWORD=kafka-password

SMTP_HOST=smtp.host.com
SMTP_PORT=465
SMTP_USER=smtp_user@smtp.host.com
SMTP_PASSWORD=smtp_password
