.LinkButton {
    color: var(--nav-background);
    transition: color .2s ease;
    cursor: pointer;
    user-select: none;
}

.LinkButton:hover {
    color: var(--navlink-active);
}

.LinkButton:active {
    color: var(--navlink-active);
}


@media (hover: none) {
    .LinkButton:hover {
        color: var(--navlink-active);
    }
}

