.inputWrapper {
    background-color: var(--input-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;
    transition: border-color 0.2s ease, color 0.2s ease;
}

.inputWrapper.error {
    color: var(--danger-color);
    border: 2px solid var(--danger-color);
}

.Input {
    width: 93%;
    min-width: 30px;
    min-height: 30px;
    outline: none;
    background-color: var(--input-background);
}

.Input::placeholder {
    color: var(--input-placeholder);
}

.eyeIcon {
    user-select: none;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    .inputWrapper {
        background-color: var(--input-background);
    }
    .Input {
        background-color: var(--input-background);
    }
}