@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Mulish", system-ui, ans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #0F1828;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-default-color: #5F2EEA;
  --off-white-color: #FCFCFC;
  --placeholder-color: #A0A3BD;
  --disabled-light-color: #D4DBE7;
  --active-color: #0F1828;
  --dark-color: #152033;
  --body-color: #1B2B48;
  --weak-color: #A4A4A4;
  --disbaled-dark-color: #ADB5BD;
  --line-color: #EDEDED;
  --dark-brand-color: #001A83;
  --default-brand-color: #002DE3;
  --dark-mode-brand-color: #375FFF;
  --light-brand-color: #879FFF;
  --background-brand-color: #D2D5F9;
  --danger-color: #E94242;
  --warning-color: #FDCF41;
  --success-color: #2CC069;
  --safe-color: #7BCBCF;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #EDEDED;
  }
}
