.Link {
    color: var(--button-background);
    transition: color .2s ease;
}

.Link:hover {
    color: var(--button-disabled-background);
}

.Link:active {
    color: var(--button-disabled-background);
}


@media (hover: none) {
    .Link:hover {
        color: var(--button-background);
    }
}