.NavLink {
    aspect-ratio: 1/1;
    min-height: 30px;
    min-width: 30px;
    background-color: var(--nav-background);
    color: #F7F7FC;
    transition: background-color .2s ease, transform .2s ease;
}

.NavLink:hover {
    background-color: var(--navlink-active);
}

.NavLink:active {
    background-color: var(--navlink-active);
    transform: scale(0.98);
}

@media (hover: none) {
    .NavLink:hover {
        background-color: var(--nav-background);
    }
    .NavLink:active {
        background-color: var(--navlink-active);
        transform: scale(0.98);
    }
}